.parent {
	margin-bottom: 15px;
	padding: 10px;
	color: #0A416B;
	clear: both;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
}

.panel {
	box-shadow: 2px 8px 15px grey;
}


hr {
	color: black;
}

.left, .center, .right {
	float: left;
	width: 32%;
	padding: 5px;
}

.main-chart {
	background: #fff;
}

.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
}

.donut {
	width: 100%;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

#left-pie {
	margin-left: 50px;
}

.font_settings {
	font-size: 20px;
	font-weight: bold;
}

#winning-panel {
	background-color: #00802b;
	color: white;
	border: black;
}

#drawing-panel {
	background-color: #ff9d00;
	color: white;
	border: black;
}

#average-easy-panel {
	background-color: #00b33c;
	color: white;
	border: black;
}

#average-medium-panel {
	background-color: #ffb133;
	color: white;
	border: black;
}

#average-hard-panel {
	background-color: #f04242;
	color: white;
	border: black;
}

#losing-panel {
	background-color: #ec1313;
	color: white;
	border: black;
}

#easypiechart-ew .percent {
	color: #1ebfae;
}

#easypiechart-mw .percent {
	color: #1ebfae;
}

#easypiechart-hw .percent {
	color: #1ebfae;
}

#easypiechart-ed .percent {
	color: #ffb53e;
}

#easypiechart-md .percent {
	color: #ffb53e;
}

#easypiechart-hd .percent {
	color: #ffb53e;
}

#easypiechart-el .percent {
	color: #ef4040;
}

#easypiechart-ml .percent {
	color: #ef4040;
}

#easypiechart-hl .percent {
	color: #ef4040;
}

/* mobile fix */
@media ( max-width : 768px) {
	#left-pie {
		margin-left: 0px;
	}
}