#bg {
	position: fixed;
	top: 0;
	left: 0;
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}

#hmlg {
	position: relative; border : 3pxsolid #fff;
	-moz-box-shadow: 15px 15px 5px #ccc;
	-webkit-box-shadow: 15px 15px 5px #ccc;
	box-shadow: 15px 15px 5px #ccc;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 15px;
	border: 3pxsolid #fff;
}